container-fluid .green{
	color: #174E08;
	display: inline;
}

container-fluid h1{
	font-size: 48px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;
}

container-fluid h2{
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 36px;
}

container-fluid #booki{
	height: 200px;
	width: 300px;
	float: left;
}

container-fluid #book_pic{
	width: 200px;
	height: 300px;
}

container-fluid #info{
	text-align: left;
	width: 600px;
}

#reviews{
	position: relative;
	bottom: 280px;
	left: 50px;
}

h3{
	font-size: 28px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

p{
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.comment{
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.replybutton,.viewbutton,#edit,#delete{
	padding: 0;
	border: none;
	background: none;
	font-size: 16px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	color: #174E08;
}

.stars{
	position: relative;
	top: 15px;
	width: 200px;
	height: 46px;
}

textarea{
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.reply{
	font-size: 18px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin-left: 120px;
}

.write{
	font-size: 18px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin-left: 120px;
}

hr{
    border: none;
    height: 2px;
	width: 1300px;
    color: #333;
    background-color: #333; 
}

#writereview{
	position: relative;
	left: 200px;
	height: 60px;
	font-size: 30px;
	color: white;
	background-color: #174E08;
	font-family: Comic Sans MS, Comic Sans, cursive;
	border: none;
	box-shadow: 0 5px #3e8e41;
	transform: translateY(4px);
}