.green{
	color: #174E08;
	display: inline;
}

body{
	font-family: Comic Sans MS, Comic Sans, cursive;
}

h1{
	font-size: 48px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;
}

h2{
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 36px;
}

#booki{
	margin-top:10px;
	height: 200px;
	width: 300px;
}

#book_pic{
	margin-top:10px;
	width: 200px;
	height: 300px;
}

#info{
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;
}

#reviews{
	margin-left: 10%;
}

h3{
	font-size: 28px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

p{
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.comment{
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.replybutton,.viewbutton,#edit,#delete{
	padding: 0;
	border: none;
	background: none;
	font-size: 16px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	color: #174E08;
}

.stars{
	width: 200px;
	height: 46px;
}

textarea{
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.reply{
	font-size: 18px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin-left: 120px;
}



hr{
    border: none;
    height: 2px;
	width: 1300px;
    color: #333;
    background-color: #333; 
}

#writereview{
	height: 60px;
	font-size: 30px;
	color: white;
	background-color: #174E08;
	font-family: Comic Sans MS, Comic Sans, cursive;
	border: none;
	box-shadow: 0 5px #3e8e41;
	transform: translateY(4px);
}